ion-content {
    --background: url('../../assets/img/offences_bg.png') repeat center center;
}

.xc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .hcs {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .xcnc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }